:root {
	--model-menu-width: 90px;
	--menu-scale: 1;
	--fontSizeH2: 60px;
}

.menu-nav {
	width: 100px;
}

li {
	list-style: none;
}

li img {
	width: 100px;
}

.infoButton{
    color: black;
    height: calc(90px * var(--menu-scale));
    padding: 0px;
}

.infoButton.--active{
    height: calc(90px * var(--menu-scale));
    background-color: #000;
    color: white;
}

.label{
	font-size: 100px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	height:100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.info-block {
	width: 700px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.562);
}
