:root {
	--model-menu-width: 90px;
	--menu-scale: 1;
	--fontSizeH2: 60px;
}

.menu-nav {
	width: 100px;
}

li {
	list-style: none;
}

li img {
	width: 100px;
}

.infoButton{
    color: black;
    height: calc(90px * var(--menu-scale));
    padding: 0px;
}

.infoButton.--active{
    height: calc(90px * var(--menu-scale));
    background-color: #000;
    color: white;
}

.label{
	font-size: 100px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	height:100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.info-block {
	width: 700px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.562);
}

iframe {
	width: 500px;
	height: 500px;
}

.load-texture-layer{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,0.0);
	z-index: 999;
}

@keyframes spinner {
	to {transform: rotate(360deg);}
  }

.spinner{
	width: 100%;
	position: absolute;
    width: 500px;
    background: rgb(0 0 0 / 21%);
    height: 500px;
}
.spinner:before {
	display: block;
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 500px;
	margin-top: -250px;
	margin-left: -250px;
	border-radius: 50%;
	border: 2px solid transparent;
	border-top-color: #fff;
	border-bottom-color: #fff;
	animation: spinner 1.5s ease infinite;
}

