$menu-scale: 1;

h2 {
	margin-top: 0px;
}

.loading-screen {
	width: 100%;
    height: 100vh;
    z-index: 2;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.562);
}

.menu-nav {
	z-index: 1;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #fff;
    margin: 0;

	li {
		list-style: none;

		button{
			padding: 0;
			border: 0;
    		background: none;
		}
		img {
			width: 100px;
			padding: 10px;
		}
	}

	&__infoButton{
		color: black;
		height: calc(90px * $menu-scale);
		padding: 0px;
		height: 120px;

		&--clicked{
			background-color: #000;
			color: white;
		}
	}

	&__infoButton--clicked{
		background-color: #000;
		color: white;
	}

	&__label{
		font-size: 100px;
		font-family: 'Courier New', Courier, monospace;
		font-weight: bold;
		height:100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.viewer {
	li {
		list-style: none;

		.clickable-layer{
			width: 100%;
			height: 100vh;
			position: absolute;
			z-index: 1;
		}

		@keyframes spinner {
			to {transform: rotate(360deg);}
		}

		.load-texture-layer{
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgb(0 0 0 / 21%);
		}
		.load-texture-layer:before {
			display: block;
			content: '';
			box-sizing: border-box;
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 500px;
			height: 500px;
			margin-top: -250px;
			margin-left: -250px;
			border-radius: 50%;
			border: 2px solid transparent;
			border-top-color: #fff;
			border-bottom-color: #fff;
			animation: spinner 1.5s ease infinite;
		}

		.sketchfab-embed-wrapper{
			height: 100vh;
			iframe {
				width: 100%;
				height: 100vh;
			}
		}
	}
}

.info-block {
	width: 700px;
    color: #fff;
	padding: 15px;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 1000;
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	top: 50%;
    transform: translateY(-50%);

	&__language {
		margin: 45px 0 15px 0;
		&__selected {
			text-decoration: underline;
		}
	}

	&__panel {
		display: flex;
		justify-content: space-between;

		&__cross {
			max-width: 100px;
			margin: auto;
		}

		&__annotation-arrow {
			max-width: 100px;
		}
	}
}
